<div class="w-full flex flex-col items-center">
    <div class="w-full h-18 bg-gray-800 py-6 px-6 rounded-lg mb-4">
        If you want add here advertisement please <a class="link" href="/contact">contact</a> me.
    </div>
    <div class="w-full h-18 bg-gray-800 py-6 px-6 rounded-lg mb-4">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3527803445641545"
     crossorigin="anonymous"></script>
<!-- upss-1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3527803445641545"
     data-ad-slot="6715302494"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    <h1 class="text-2xl font-bold">Upss</h1>
    <span class="mb-12">Welcome to upss. This website developed by arasemr12#9891. If you find bug please <a href="/contact" class="text-blue-600 underline">contact</a> me.</span>
    <div class="w-full flex flex-col items-center gap-10">
        <div class="w-full border-2 border-slate-700 bg-slate-800 rounded-lg flex flex-row items-center">
            <textarea id="con" rows="1" class="rounded-lg focus:ring-0 w-full" placeholder="What's up?" type="text"></textarea>
            <!--<img class="cursor-pointer mr-6" src="/public/submit.webp" width="32" alt="">-->
            <i onclick="post()" class="fa-solid fa-paper-plane mr-6 cursor-pointer"></i>
        </div>
        Page: <%=page%>
        <div class="flex flex-col w-full items-center">
            All pages: <%=Math.floor(count/10)+1%>
            <div class="w-full flex flex-row items-center justify-center gap-4">
                <a class="green-btn" href="/?page=<%=page-1%>"><%=page-1%></a>
                <a class="green-btn" href="/?page=<%=page%>"><%=page%></a>
                <a class="green-btn" href="/?page=<%=Number(page)+1%>"><%=Number(page)+1%></a>
            </div>
        </div>
        <%posts.forEach((post) => {%>
            <div class="w-full border-2 border-slate-800 rounded-lg flex flex-col py-6 px-6 gap-4">
                <div class="w-full flex flex-col lg:flex-row items-center gap-4 justify-between">
                    <!--<img src="https://cdn.discordapp.com/avatars/441221465019514881/54b62ae823642102bb7f9951b6540641.gif" class="rounded-full" width="32" alt="">-->
                    <div class="flex flex-row items-center gap-x-4">
                        <i class="fa-solid fa-user fa-2x bg-gray-700 py-4 px-4 rounded-full"></i>
                        <a href="/users/<%=post.author._id%>" class="flex flex-col">
                            <span class="text-xs opacity-40"><%=post.author.email%></span>
                            <span class="text-xl font-bold">@<%=post.author.username%></span>
                        </a>
                    </div>
                    <div>
                        <span class="text-gray-500"><%=post.createdAt%></span>
                    </div>
                </div>
                <div class="flex flex-col gap-5">
                    <span class="whitespace-pre-wrap"><%=String(post.content).slice(0,100)%></span>
                    <%if(post.content.length > 100){%>
                        <a class="link" href="/posts/<%=post._id%>">read more</a>
                    <%}%>
                    <div class="flex flex-row items-center w-full justify-between">
                        <div>
                            <i id="like-<%=post._id%>" class="fa-solid fa-heart cursor-pointer <%=locals.user ? post.likes.find(like => user._id.toString() == like.toString()) ? 'text-red-600' : '':''%>" onclick="like('<%=post._id%>')"></i>
                            <span id="likes-<%=post._id%>"><%=post.likes.length%></span>
                        </div>
                        <div>
                            <i onclick="comment()" class="fa-solid fa-comments cursor-pointer"></i>
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
        <%})%>
        <div class="flex flex-col w-full items-center">
            All pages: <%=Math.floor(count/10)+1%>
            <div class="w-full flex flex-row items-center justify-center gap-4">
                <a class="green-btn" href="/?page=<%=page-1%>"><%=page-1%></a>
                <a class="green-btn" href="/?page=<%=page%>"><%=page%></a>
                <a class="green-btn" href="/?page=<%=Number(page)+1%>"><%=Number(page)+1%></a>
            </div>
        </div>
    </div>
    <div class="w-full h-18 bg-gray-800 py-6 px-6 rounded-lg mt-4">
        If you want add here advertisement please <a class="link" href="/contact">contact</a> me.
    </div>
</div>
<script>
    let con = document.getElementById('con');
    function post(){
        if(!con.value) return;
        fetch("/posts/create",{
            method:'POST',
            body:JSON.stringify({
                content:con.value
            }),
            headers:{
                'Content-Type':'application/json'
            }
        })
            .then((res) => res.json())
            .then((data) => {
                if(data.success) return document.location.href = `/posts/${data.post._id}`;
            });
    }
</script>