<div class="w-full h-full justify-center flex flex-col items-center">
    <span class="text-xl font-bold <%=message.success===true?'text-green-600':'text-red-600'%>"><%=message.body%></span>
    <span>You <span id="t"><%=time/1000%></span> seconds after redirect <%=url=="/"?'main page':url.slice(1)%>.</span>
    <script>
        let t = document.getElementById('t');
        let time = "<%=time%>"
        time = Number(time);

        setInterval(() => {
            t.innerText = Number(t.innerText)-1;
        }, 1000);

        setTimeout(() => {
            window.location.href = "<%=url%>";
        }, time);
    </script>
</div>