<div class="w-full flex flex-col items-center">
    <span><%=myuser.email%></span>
    <h1 class="text-2xl font-bold">@<%=myuser.username%></h1>
    <div class="w-full">
        <span>User posts: </span>
        <div class="flex flex-col items-center w-full gap-12">
            <%myuser.posts.forEach((post) => {%>
                <div class="w-full border-2 border-slate-800 rounded-lg flex flex-col py-6 px-6 gap-4">
                    <div class="w-full flex flex-row items-center gap-x-4">
                        <!--<img src="https://cdn.discordapp.com/avatars/441221465019514881/54b62ae823642102bb7f9951b6540641.gif" class="rounded-full" width="32" alt="">-->
                        <i class="fa-solid fa-user fa-2x bg-gray-700 py-4 px-4 rounded-full"></i>
                        <a href="/users/<%=myuser._id%>" class="flex flex-col">
                            <span class="text-xs opacity-40"><%=myuser.email%></span>
                            <span class="text-xl font-bold">@<%=myuser.username%></span>
                        </a>
                    </div>
                    <div class="flex flex-col gap-5">
                        <span class="whitespace-pre-wrap"><%=post.content.slice(0,50)%></span>
                        <a class="link" href="/posts/<%=post._id%>">read more</a>
                        <div>
                            <i id="like-<%=post._id%>" class="fa-solid fa-heart cursor-pointer <%=locals.user ? post.likes.find(like => user._id.toString() == like.toString()) ? 'text-red-600' : '':''%>" onclick="like('<%=post._id%>')"></i>
                            <span id="likes-<%=post._id%>"><%=post.likes.length%></span>
                        </div>
                    </div>
                </div>
            <%})%>
        </div>
    </div>
</div>